body {
    background-color: azure;
}

photo-border {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%
}

button-border {
    margin: auto;
    width: 200px;
    height: 50px;
}